= simple_form_for @coordinate, :html => {:class => 'form-horizontal' } do |f|
  = f.error_notification

  = f.collection_select :user_id, User.all, :id, :name
  %br
  %br
  = f.collection_select :conference_id, Conference.all, :id, :name
  %br
  %br
  = f.button :submit, :inline_label => "Create new coordinator"
