= form_for ([@user, Attendance.new]) do |f|
  - if @attendance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attendance.errors.count, "error")} prohibited this conference from being saved:"
      %ul
        - @attendance.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_field :body
  .actions
    = f.submit