= simple_nested_form_for @user, :html => {:class => "form-horizontal"} do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :occupation
  = f.input :location
  = f.input :show_email

  = f.fields_for @abstract do |a|
    = a.input :body, :label => "Bio"
    
  = f.fields_for :emails do |e|
    = render "email_fields", :f => e
  
  = link_to_add_fields "Add an email address", f, :emails
  
  .pull-right
    = f.submit :class => "btn", :value => "Save Profile"
