<<<<<<< HEAD
= form_for @user, :html => {:class => "form-horizontal"} do |f|
  %fieldset
    %legend Member Form
    = f.label :name
    = f.text_field :name
  
    = f.label :image
    = f.text_field :image
  
    = f.label :location
    = f.text_field :location
  
    = f.label :occupation
    = f.text_field :occupation
    
=======
= form_for @user do |f|
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :occupation
    = f.text_field :occupation
  .field
    = f.label :location
    = f.text_field :location
>>>>>>> dbe93495b74b053566ffc6483b620be9bca78947
  .actions
    = f.submit :class => "btn btn-primary"
