= form_for @user, :html => {:class => "form-horizontal"} do |f|
  %fieldset
    %legend Member Form
    = f.label :name
    = f.text_field :name
  
    = f.label :image
    = f.text_field :image
  
    = f.label :location
    = f.text_field :location
  
    = f.label :occupation
    = f.text_field :occupation
    
  .actions
    = f.submit :class => "btn btn-primary"
