= simple_form_for @user, :html => {:class => "form-horizontal"} do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :occupation
  = f.input :location

  = f.fields_for @abstract do |a|
    = a.input :body, :label => "Bio"

  = f.submit :class => "btn"
  