%h1
  Welcome,
  = current_user.name
%hr

%p.lead
  Remember to
  = link_to "keep your profile updated", edit_user_path(current_user)
  to ensure the best possible matches for you.

.row
  .span12
    %h2 Conferences
    %ul.thumbnails
      - current_user.attendances.all.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %p
      Note:
      %br
      If you signed up for a conference, but it does not show here, please check that your profile contains the email address you used to sign up for the conference. You may add additional email addresses by 
      = link_to "updating your profile.", edit_user_path(current_user)