%h1
  Welcome,
  = current_user.name
%hr

%p.lead
  Remember to
  = link_to "keep your profile updated", edit_user_path(current_user)
  to ensure the best possible matches for you.
  -if @curr_attendances.empty? && @upcoming_attendances.empty? && @past_attendances.empty?
    %br
    You aren't registered for any conferences. Add new emails in your profile to find more conferences.
.row
  .span8
    %h2 Current Conferences
    - if @curr_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @curr_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %br
    %h2 Upcoming Conferences
    - if @upcoming_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @upcoming_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %br
    %h2 Past Conferences
    - if @past_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @past_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %p
      Note:
      %p
        If you signed up for a conference and it isn't showing up, you may have signed up with a different email address. You can add additional email addresses by
        = link_to "updating your profile.", edit_user_path(current_user)
        
  .span4.requests
    %p.lead.text-center
      Accepted Requests
    - if @user.get_accepted.count > 0
      - @user.get_accepted.each do |a|
        - user = a.user
        .span4    
          %h4.blue
            = link_to user.name, user_path(user)
          - if user.image
            = image_tag(user.image, :class =>"pull-left", :size => "50x50")
          - else 
            = image_tag("user_placeholder.png", :class =>"pull-left", :size => "50x50")
          - if !a.phone.blank?
            Phone:
            = a.phone
            %br
          - if !a.email.blank?
            Email:
            = a.email
            %br
          - if !a.reply.blank?
            Note:
            = a.reply
            %br
          
  
    .clearfix
    %hr

    %p.lead.text-center
      People Who Want to Meet You
    - if @user.get_invites.count > 0
      - @user.get_invites.take(4).each do |a|
        - user = User.find(a.inviter)
        .span4    
          - if user.image
            = image_tag(user.image, :class =>"pull-left", :size => "100x100")
          - else 
            = image_tag("user_placeholder.png", :class =>"pull-left", :size => "100x100")
          %h4
            = link_to user.name, user_path(user)
          - if !a.phone.blank?
            Phone:
            = a.phone
            %br
          - if !a.email.blank?
            Email:
            = a.email
            %br
          - if !a.reply.blank?
            Note:
            = a.reply
            %br
      
      %p.lead.text-center        
        = link_to requests_path, :class => "btn" do
          %i.icon-eye-open
          See All
    -else
      .text-center
        %h4 No Invites at the moment 
      
    %hr
    %p.lead.text-center   
      People You Want to Meet
    - if @user.get_requests.count > 0
      - @user.get_requests.take(4).each do |a|
        - user = a.user
        .span4    
          - if user.image
            = image_tag(user.image, :class =>"pull-left", :size => "100x100")
          - else 
            = image_tag("user_placeholder.png", :class =>"pull-left", :size => "100x100")
          %h4
            = link_to user.name, user_path(user)
          - if !a.phone.blank?
            Phone:
            = a.phone
            %br
          - if !a.email.blank?
            Email:
            = a.email
            %br
          - if !a.reply.blank?
            Note:
            = a.reply
            %br
    
      %p.lead.text-center        
        = link_to notifications_path, :class => "btn" do
          %i.icon-eye-open
          See All
    -else
      .text-center
        %h4 No Invites at the moment 
    