%h1
  Welcome,
  = current_user.name
%hr

%p.lead
  Remember to
  = link_to "keep your profile updated", edit_user_path(current_user)
  to ensure the best possible matches for you.

.row
  .span12
    %h2 Current Conferences
    - if @curr_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @curr_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %br
    %h2 Upcoming Conferences
    - if @upcoming_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @upcoming_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %br
    %h2 Past Conferences
    - if @past_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @past_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %p
      Note:
      %p
        If you signed up for a conference and it isn't showing up, you may have signed up with a different email address. You can add additional email addresses by
        = link_to "updating your profile.", edit_user_path(current_user)