%h1
  Welcome,
  = current_user.name
%hr

.row
  .span12
    %h2 Conferences
    %ul.thumbnails
      - current_user.attendances.all.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-thumbs-up
                = att.conference.likes
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location

%hr
.row-fluid
  .span2
    .image-container
      .image-box.vcenter
        -if current_user.image
          = image_tag(current_user.image, :class => "size")
        -else
          = image_tag("user_placeholder.png", :class => "size")
        %br
        %br
        .centered
          = link_to edit_user_path(current_user), :class => "btn" do
            %i.icon-edit
            Edit Profile
  .span10
    .vcenter
      %h2= current_user.name
      - if current_user.show_email
        - current_user.emails.all.each do |email|
          %strong= "Email:"
          = mail_to email.mail_address
          %br
      %strong Occupation:
      = current_user.occupation
      %br
      %strong Location:
      = current_user.location
      %h4 Bio:
      - if @bio
        = @bio.body

%hr
