%h1
  Welcome,
  = current_user.name
%hr

%p.lead
  Remember to
  = link_to "keep your profile updated", edit_user_path(current_user)
  to ensure the best possible matches for you.
  -if @curr_attendances.empty? && @upcoming_attendances.empty? && @past_attendances.empty?
    %br
    You aren't registered for any conferences. Add new emails in your profile to find more conferences.
.row
  .span8
    %h2 Current Conferences
    - if @curr_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @curr_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %br
    %h2 Upcoming Conferences
    - if @upcoming_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @upcoming_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %br
    %h2 Past Conferences
    - if @past_attendances.empty?
      %h4 No Conferences
    %ul.thumbnails
      - @past_attendances.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card cbutton" do
            %h4.dblock
              = att.conference.name
            .pull-right
              .iconblock
                %i.icon-star
                = att.conference.likes(current_user)
              .iconblock
                %i.icon-user
                = att.conference.attendances.count
            %h5.dblock.clear
              = att.conference.location
    %p
      Note:
      %p
        If you signed up for a conference and it isn't showing up, you may have signed up with a different email address. You can add additional email addresses by
        = link_to "updating your profile.", edit_user_path(current_user)
        
  .span4.requests
    %p.lead.text-center
      Wants to collaborate with you
    // Temporary Selection of people, placeholder        
    - if @attendees
      - @attendees.take(5).each do |attendee|
        .span4        
          - if attendee.user_id
            - if attendee.user_id != current_user.id
              %br
              - if attendee.user.image
                = image_tag(attendee.user.image, :class =>"pull-left", :size => "50x50")
              - else 
                = image_tag("user_placeholder.png", :class =>"pull-left", :size => "50x50")
              %h4.blue
                = link_to attendee.user.name, conference_attendee_path(@conference, attendee)
          - else
            %br
            = image_tag("user_placeholder.png", :class =>"pull-left", :size => "50x50")
            %h4.blue.pull-left
              = link_to attendee.name, conference_attendee_path(@conference, attendee)

      %p.lead.text-center        
        = link_to "", :class => "btn" do
          %i.icon-eye-open
          See All
    %hr
    %p.lead.text-center   
      You requested to collaborate with
            
    // Temporary Selection of people, placeholder        
    - if @attendees
      - if @attendees[-4..-1]
        - @attendees[-4..-1].each do |attendee|
          .span4        
            - if attendee.user_id
              - if attendee.user_id != current_user.id
                %br
                - if attendee.user.image
                  = image_tag(attendee.user.image, :class =>"pull-left", :size => "50x50")
                - else 
                  = image_tag("user_placeholder.png", :class =>"pull-left", :size => "50x50")
                %h4.blue
                  = link_to attendee.user.name, conference_attendee_path(@conference, attendee)
            - else
              %br
              = image_tag("user_placeholder.png", :class =>"pull-left", :size => "50x50")
              %h4.blue.pull-left
                = link_to attendee.name, conference_attendee_path(@conference, attendee)
        %p.lead.text-center        
          = link_to "", :class => "btn" do
            %i.icon-eye-open
            See All
    