.header-container
  .pull-left
    .image-box.vcenter
      -if @user.image
        = image_tag(@user.image)
  .vcenter.pull-right
    = link_to edit_user_path(@user), :class => "btn" do
      %i.icon-edit
      Edit Profile
  .vcenter
    %h2= @user.name
    %h4= @user.occupation
    = @user.location

%hr

.row-fluid
  .span12
    %h3 Attended/Upcoming Conferences
    %ul.thumbnails
      - @user.attendances.all.each do |att|
        %li.span4
          = link_to att.conference, :class => "thumbnail card btn" do
            %h4= att.conference.name
            %h5= att.conference.location

    %h4 Bio:
    = @abstract.body
