.field
  = f.label :registered_email
  = f.text_field :registered_email
.field
  = f.label :first_name
  = f.text_field :first_name
.field
  = f.label :last_name
  = f.text_field :last_name
.field
  = f.label :organization
  = f.text_field :organization
.actions
  = f.submit "Add attendee"