%h3= "Attendee information"

.fieldset
  = f.label :registered_email
  = f.text_field :registered_email

  = f.label :first_name
  = f.text_field :first_name

  = f.label :last_name
  = f.text_field :last_name

  = f.label :organization
  = f.text_field :organization
