= simple_form_for @conference, :html => {:class => 'form-horizontal' } do |f|

  = f.input :name
  = f.input :location
  = f.input :start_time, :as => :string, :input_html => { :class => 'datepicker' }
  = f.input :end_time, :as => :string, :input_html => { :class => 'datepicker' }
  - if f.object.new_record?
    = f.input :"Attendee list (csv file)"

  %hr

  %h3 Add Attendees
  = link_to_add_fields "Add attendee", f, :attendances

  %hr

  = f.button :submit
  
:javascript
  $(function() {
  	$('.datepicker').datepicker()
  })
