= form_for @conference do |f|
  - if @conference.errors.any?
    #error_explanation
      %h2= "#{pluralize(@conference.errors.count, "error")} prohibited this conference from being saved:"
      %ul
        - @conference.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :location
    = f.text_field :location
  - if f.object.new_record?
    .file_field
      = f.label :"Attendee list (csv file)"
      = f.file_field :csv
  .actions
    = f.submit