= simple_form_for @conference, :html => {:class => 'form-horizontal' } do |f|

  = f.input :name
  = f.input :location
  = f.input :start_time, :as => :string, :input_html => { :class => 'datepicker' }
  = f.input :end_time, :as => :string, :input_html => { :class => 'datepicker' }
  - if f.object.new_record?
    = f.input :csv, :as => :file, :inline_label => "Attendee list (csv file)"

  %hr

  %h3 Add Attendees
  = link_to_add_fields "Add Attendee", f, :attendances

  %hr

  = f.button :submit
  - if !f.object.new_record?
    // = link_to @conference, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" do
    //   %i.icon-trash.icon-white
    //   Delete Conference
  
:javascript
  $(function() {
  	$('.datepicker').datepicker()
  })
