.row-fluid
  .pull-right.buttons
    = link_to @conference, :class => "btn" do
      %i.icon-arrow-left
      Back
    
    = link_to conferences_path, :class => "btn" do
      %i.icon-th-list
      All Conferences
      
  %h1.pull-left Editing conference

.row
  .form
    .span4
      = render 'form'
  
  .span8
    .pull-right.buttons
      = link_to new_conference_attendee_path(@conference), :class => "btn" do
        %i.icon-edit
        Add
    %h2 Edit Attendees
    
    %hr
    .row
      - @conference.attendances.each do |attendee|
        .span2
          %div.user-list
            .text-center
              - if attendee.user
                - if attendee.user.image
                  = image_tag(attendee.user.image, :class => "small")
                - else 
                  = image_tag("user_placeholder.png", :class => "small")
              - else
                = image_tag("user_placeholder.png", :class => "small")    
              %h4 
                = link_to attendee.name, conference_attendee_path(@conference, attendee)
              %p 
              // = attendee.organization
              //  = "-"
              //  = attendee.project_name
              = link_to "Delete Attendee", conference_attendee_path(@conference, attendee), :confirm => "Are you sure you want to delete this attendee?", :method => :delete
    