.page-header
  %h1 Current Conferences

%ul.thumbnails
  - @conferences.each do |conf|
    %li.span4
      = link_to conf, :class => "thumbnail card cbutton" do
        %h4= conf.name
        %h5= conf.location
- if current_user.is_admin
  = link_to new_coordinate_path, :class => "btn" do
    %i.icon-plus-sign
    Add a new coordinator
  = link_to coordinates_path, :class => "btn" do
    %i.icon-th-list
    View all coordinators
