.row
  .span12
    %h1 My Conferences
    %hr
    - if @user_conferences.size == 0
      %h4.dblock No Conferences
    %ul.thumbnails
      - @user_conferences.each do |conf|
        %li.span4
          = link_to conf, :class => "thumbnail card cbutton" do
            %h4.dblock
              = conf.name
            .pull-right
              .iconblock
                %i.icon-star
                = conf.likes(current_user.id)
              .iconblock
                %i.icon-user
                = conf.attendances.count
            %h5.dblock.clear
              = conf.location
  .span12
    %h1 Current Conferences
    %hr
    - if @curr_conferences.size == 0
      %h4.dblock No Conferences
    %ul.thumbnails
      - @curr_conferences.each do |conf|
        %li.span4
          = link_to conf, :class => "thumbnail card cbutton" do
            %h4.dblock
              = conf.name
            .pull-right
              .iconblock
                %i.icon-star
                = conf.likes(current_user.id)
              .iconblock
                %i.icon-user
                = conf.attendances.count
            %h5.dblock.clear
              = conf.location
  .span12
    %h1 Upcoming Conferences
    %hr
    - if @upcoming_conferences.size == 0
      %h4.dblock No Conferences
    %ul.thumbnails
      - @upcoming_conferences.each do |conf|
        %li.span4
          = link_to conf, :class => "thumbnail card cbutton" do
            %h4.dblock
              = conf.name
            .pull-right
              .iconblock
                %i.icon-star
                = conf.likes(current_user.id)
              .iconblock
                %i.icon-user
                = conf.attendances.count
            %h5.dblock.clear
              = conf.location
  .span12
    %h1 Past Conferences
    %hr
    - if @past_conferences.size == 0
      %h4.dblock No Conferences
    %ul.thumbnails
      - @past_conferences.each do |conf|
        %li.span4
          = link_to conf, :class => "thumbnail card cbutton" do
            %h4.dblock
              = conf.name
            .pull-right
              .iconblock
                %i.icon-star
                = conf.likes(current_user.id)
              .iconblock
                %i.icon-user
                = conf.attendances.count
            %h5.dblock.clear
              = conf.location
  
  .span12
    - if current_user.is_admin || (current_user.is_conf_admin && current_user.conferences_left > 0)
      %h2 Admin Actions
      - if current_user.is_conf_admin
        %h3 Conferences Left: #{current_user.conferences_left}
      %hr
      /
        = link_to new_coordinate_path, :class => "btn" do
          %i.icon-plus-sign
          Add a new coordinator
        = link_to coordinates_path, :class => "btn" do
          %i.icon-th-list
          View all coordinators
        %br
        %br
      = link_to new_conference_path, :class => "btn" do
        %i.icon-plus-sign
        New Conference
      %br
      %br
