.page-header
  .pull-right
    = link_to conferences_path, :class => "btn" do
      %i.icon-th-list
      All Conferences
  %h1
    = @conference.name
    %small= @conference.location
    %br
    %small #{@conference.start_time.strftime("%b %d, %Y")} - #{@conference.end_time.strftime("%b %d, %Y")}

- if @liked_count > 0
  %p.lead
    Your Saved Matches
  %ul.thumbnails
    - @liked_attendees.each do |attendee|
      %li.span4
        = link_to conference_attendee_path(@conference, attendee), :class => "thumbnail card cbutton" do
          - if attendee.user_id
            %h4.blue= attendee.user.name
          - else
            %h4= attendee.name
          - if attendee.organization
            %h5.bmargin
            = truncate(attendee.organization, :length => 50)
          - else
            %h5.no-org No Organization Specified
          - if attendee.project_name
            %h5= truncate(attendee.project_name, :length => 45)
          - else
            %h5.no-org No Project Specified
          - if @user_attendance
            .progress.progress-striped
              .bar{:style => "width: #{@user_attendance.get_connection_strength(attendee)}%"}
                #{@user_attendance.get_connection_strength(attendee)}%

%p.lead
  - if @user_attendance
    Your Matches
  - else
    All Attendees

%ul.thumbnails
  - @attendees.each do |attendee|
    - if !@liked_attendees.include?(attendee)
      %li.span4
        = link_to conference_attendee_path(@conference, attendee), :class => "thumbnail card cbutton" do
          - if attendee.user_id
            %h4.blue
              = attendee.user.name
          - else
            %h4= attendee.name
          - if attendee.organization
            %h5.bmargin
            = truncate(attendee.organization, :length => 50)
          - else
            %h5.no-org No Organization Specified
          - if attendee.project_name
            %h5= truncate(attendee.project_name, :length => 45)
          - else
            %h5.no-org No Project Specified
          - if @user_attendance
            .progress.progress-striped
              .bar{:style => "width: #{@user_attendance.get_connection_strength(attendee)}%"}
                #{@user_attendance.get_connection_strength(attendee)}%
%hr

- if @user_attendance
  - @user_attendance.abstracts.all.each do |abs|
    %p.lead
      Your abstract
    = abs.body

%hr
%br

- if (current_user.is_admin || current_user.coordinate(@conference))
  = link_to edit_conference_path(@conference), :class => "btn" do
    %i.icon-edit
    Edit Conference
