%h1 Send Reply

= form_for @request, :url => {:action => 'update', :controller => 'requests'} do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being sent:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area(:reply, :size => '50x10')
  .actions
    = f.submit 'Send Reply', :class => "btn"    

= link_to 'Back', requests_path
