.page-header
  %h1 Notifications


.row

  / This list shows the requests with replies or have been accepted
  .span8
    .request-list
      - if @notifications.count > 0 
        - @notifications.each do |n|
          - if n
            - if n.accepted || n.accepted.nil?
              - u = User.find(n.user_id)
              -if u.image
                = image_tag(u.image, :class => 'pull-left', :width => 100, :height => 100)
              -else
                = image_tag("user_placeholder.png", :class => 'pull-left', :width => 100, :height => 100)
              .pull-left
                - if n.accepted
                  = link_to u.name, user_path(n.user_id)
                  has accepted your request
                  - if !n.phone.blank?
                    %br
                    Phone:
                    = n.phone
                  - if !n.email.blank?
                    %br
                    Email:
                    = n.email
                  - if !n.reply.blank?
                    %br
                    Note:
                    = n.reply
            
                - else
                  = link_to u.name, user_path(n.user_id)
                  %br
                  = n.reply
              .pull-left
                - if n.accepted
                - else
                  = link_to edit_request_path(n), :class => "btn" do
                    %i.icon-edit
                    Reply
              .pull-right
                = "#{time_ago_in_words(n.updated_at)} ago" 
              .clearfix
              %hr
      - else
        %h4 No Notifications At the Moment


  / This list shows the requests the current user has sent
  .span4
    .requests
      %p.lead.text-center
        Accepted Requests
      %hr
      - if @user.get_accepted.count > 0
        - @user.get_accepted.each do |a|
          - user = a.user
          .span4    
            - if user.image
              = image_tag(u.image, :class => 'pull-left', :width => 100, :height => 100)
            - else
              = image_tag("user_placeholder.png", :class => 'pull-left', :width => 100, :height => 100)
            = link_to user.name, user_path(user)
            %br
            - if !a.phone.blank?
              Phone:
              = a.phone
              %br
            - if !a.email.blank?
              Email:
              = a.email
              %br
            - if !a.reply.blank?
              Note:
              = a.reply
              %br
      - else
        %h4.text-center
          No accepted requests
      .clearfix
      %hr
      %p.lead.text-center
        Sent Requests
      %hr
      - if @sent_requests.count > 0
        = @sent_requests.count
        - @sent_requests.each do |n|    
          - if n
            .span4
              - if n.user_id
                - u = User.find(n.user_id)
                - if u.image
                  = image_tag(u.image, :class => 'pull-left', :width => 100, :height => 100)
                - else
                  = image_tag("user_placeholder.png", :class => 'pull-left', :width => 100, :height => 100)
                .pull-left
                  = link_to u.name, user_path(n.id)
              - else
                = image_tag("user_placeholder.png", :class => 'pull-left', :width => 100, :height => 100)
                .pull-left
                  = n.email
                  %br
                  Not yet registered
              %br    
              .pull-left
                = "Sent: #{n.created_at.strftime("%a, %b #{n.created_at.day.ordinalize}")}"
              .clearfix
              %br
      - else
        %h4.text-center
          No sent requests
      
      .clearfix
      

