%h1 Listing preferences

%table
  %tr
    %th Category
    %th Content
    %th
    %th
    %th

  - @conferences.each do |conf|
    %tr
      %td Preference Categories
      %td= conf.preference_categories
      %td= link_to 'Show', conf
      %td= link_to 'Edit', edit_preference_path(conf)
      %td= link_to 'Destroy', conf, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Preference', new_preference_path
