%p#notice= notice

%h2
  = @attendance.name
%h3
  = @attendance.organization

= @abstracts.each do |abs|
  %p= abs.body

= link_to 'Edit', edit_conference_attendee_path(@attendance)
\|
= link_to 'Back', conference_attendees_path
