= stylesheet_link_tag "abstracts"

%p#notice= notice

= @request  
.pull-right
  = link_to conference_path(@conference), :class => "btn" do
    %i.icon-arrow-left
    = "Back to #{@conference.name}"      
.row-fluid
  - if @user
    .row-fluid
      .span2
        .image-container
          .image-box.vcenter
            -if @user.image
              = image_tag(@user.image, :class => "size")
            -else
              = image_tag("user_placeholder.png", :class => "size")
      .span2.pull-left
  
      .span10
        %h2= @user.name
        - if @user.show_email
          - @user.emails.all.each do |email|
            %strong= "Email:"
            = mail_to email.mail_address
            %br
        -if @like_count == 0
          = link_to likes_path(:attendance_id => @attendance.id), :method => :post, :class => "btn" do
            %i.icon-star
            Bookmark
        -else
          = link_to like_path(@like), :method => :delete, :class => "btn" do
            %i.icon-star-empty
            Unbookmark
        = link_to new_request_path(:attendance_id => @attendance.id), :class => "btn" do
          %i.icon-comment
          Request Meeting
        %br
        %br
        %strong Occupation:
        -if @user.occupation.blank?
          Not available
        -else
          = @user.occupation
        %br
        %strong Location:
        -if @user.location.blank?
          Not available
        -else
          = @user.location
        %h4= @attendance.organization
  - else
    %h2= @attendance.name
%hr
.row-fluid
  .span12
    - if @attendance.project_name
      %h3= @attendance.project_name
    
    - if @user_attendance
    
      - if (current_user && @user_attendance.get_keyword_strength(@attendance) && (@user_attendance.get_keyword_strength(@attendance) > 0))
        %h4 Abstract matches the attributes you're looking for:
        .span4
          .progress.progress-striped
            .bar{:style => "width: #{@user_attendance.get_keyword_strength(@attendance)}%"}
              #{@user_attendance.get_keyword_strength(@attendance)}%
      -elsif current_user
        %h4 Abstract matches your abstract:
        .span4
          .progress.progress-striped
            .bar{:style => "width: #{@user_attendance.get_abstract_strength(@attendance)}%"}
              #{@user_attendance.get_abstract_strength(@attendance)}%
      
      / %br
      / %br
      / %h4 Keyword match strength:
      / .span4
      /   .progress.progress-striped
      /     .bar{:style => "width: #{@user_attendance.get_keyword_strength(@attendance)}%"}
      /       #{@user_attendance.get_keyword_strength(@attendance)}%
.row-fluid
  .span12
    - @abstracts.each do |abstract|
      %h4
        Abstract:
        .pull-right
          %button{:id => "toggle", :class => "btn", :type => "button", :data => {:toggle => "button"}} Hide matched words
      - if(current_user)
        = abstract.highlight_body(current_user, @conference.id).html_safe
      - else
        = abstract.body
.row-fluid
  .span12
    - if(@attendance.user_id)
      -if @user.bio
        %h4 Bio:
        = @user.bio

- if @conferences && @conferences.count > 1
  .row
    .span12
      %h4
        =@user.name
        is also attending:
      %ul.thumbnails
        - @conferences.each do |conference|
          - if (conference.id != @conference.id)
            %li.span4
              = link_to conference_path(conference), :class => "thumbnail card cbutton" do
                %h4.dblock
                  = conference.name
                .pull-right
                  .iconblock
                    %i.icon-star
                    = conference.likes(current_user.id)
                  .iconblock
                    %i.icon-user
                    = conference.attendances.count
                %h5.dblock.clear
                  = conference.location

%br
%br
:javascript
  var checked = false;
  $('#toggle').click(function(){
    if(checked == true) {
      $('.highlight').css('color', 'blue');
      checked = false;
    }
    else {
      $('.highlight').css('color', 'black');
      checked = true;
    }
  })

