= stylesheet_link_tag "abstracts"

%p#notice= notice
- if @attendance.user_id
  = link_to user_path(@attendance.user_id) do
    %h2= @attendance.name
    %h3= @attendance.organization
- else
  %h2= @attendance.name
  %h3= @attendance.organization
  

- @abstracts.each do |abstract|
  = abstract.highlight_body(current_user).html_safe

%br
%br

= link_to 'Back', conference_attendees_path
