%p#notice= notice

%p
  %b User:
  = @attendance.user_id
%p
  %b Conference:
  = @attendance.conference_id
%p
  %b Registered email:
  = @attendance.registered_email

= link_to 'Edit', conference_attendees_edit_path(@attendance)
\|
= link_to 'Back', conference_attendees_path
