= stylesheet_link_tag "abstracts"

%p#notice= notice
.page-header
  .pull-right
    = link_to conference_path(@conference), :class => "btn" do
      %i.icon-arrow-left
      Back
  - if @attendance.user_id
    .row-fluid
      .span2
        .image-box.vcenter
          -if @user.image
            = image_tag(@user.image, :class => "size")
          -else
            = image_tag("user_placeholder.png", :class => "size")
      .span10
        = link_to user_path(@attendance.user_id) do
          %h2= @attendance.name
        - if @user.show_email
          - @user.emails.all.each do |email|
            %strong= "Email:"
            = mail_to email.mail_address
            %br
        = @user.occupation
        = @user.location
  - else
    %h2= @attendance.name
  %h3= @attendance.organization
  
- @abstracts.each do |abstract|
  %h3 
    Abstract:
    .pull-right 
      %button{:id => "toggle", :class => "btn", :type => "button", :data => {:toggle => "button"}} Hide highlighted words
  - if(current_user)
    = abstract.highlight_body(current_user, @conference.id).html_safe
  - else
    = abstract.body
- if(@attendance.user_id)
  %h3 Bio:
  -if @bio
    = @bio.highlight_body(current_user, @conference.id).html_safe

-if(current_user)
  %h3 Connection strength:
  .span4
    .progress.progress-striped
      .bar{:style => "width: #{@user_attendance.get_connection_strength(@attendance)}%"}
        #{@user_attendance.get_connection_strength(@attendance)}%
%br
%br
-if @like_count == 0
  = link_to "Like", new_like_path(:attendance_id => @attendance.id, :conference_id => @attendance.conference.id, :user_id => current_user.id)
-else
  You liked this attendee
:javascript
  var checked = false;
  $('#toggle').click(function(){
    if(checked == true) {
      $('.highlight').css('color', 'blue');
      checked = false;
    }
    else {
      $('.highlight').css('color', 'black');
      checked = true;
    }
  })
  
