%nav.top-bar
  %ul
    %li.name
      %h1= link_to "TaggleCloud", "#"
    %li.toggle-topbar= link_to "", "#"
  %section
    %ul.left
      %li.divider
      %li= link_to "Conferences", "/conferences"
      %li.divider.hide-for-small
    %ul.right
      %li.divider
      %li.has-dropdown
        = link_to "UserNav Goes Here", "#"
        %ul.dropdown
          %li= link_to "test1", "#"