.navbar.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Taggle Cloud", :root, :class => "brand"
      .nav-collapse
        %ul.nav
          %li
            - if current_user
              = link_to "Conferences", conferences_path
        %ul.nav.pull-right
          - if current_user
            %li.dropdown
              = link_to "#", :class => "dropdown-toggle", data: { toggle: 'dropdown' } do
                ="Welcome #{current_user.name}"
                %b.caret
              %ul.dropdown-menu{:role => "menu", :aria_labelledby => "dLabel"}
                %li= link_to "My Profile", profile_path
                %li= link_to "Sign Out", signout_path
          - else
            %li= link_to "Sign In", signin_path