.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Taggle Cloud", :root, :class => "brand"
      .nav-collapse
        %ul.nav
          %li
            - if current_user
              = link_to "Conferences", conferences_path
        %ul.nav.pull-right
          - if current_user
            %li
              = link_to user_path(current_user.id) do
                %i.icon-user.icon-white
                = "#{current_user.name}"
            %li
              = link_to "Sign Out", signout_path
          - else
            %li.dropdown
              = link_to "#", :class => "dropdown-toggle", data: { toggle: 'dropdown' } do
                Sign In
                %b.caret
              %ul.dropdown-menu{:role => "menu", :aria_labelledby => "dLabel"}
                %li= link_to "Sign in with LinkedIn", "auth/linkedin"
                %li= link_to "Sign in with Google", "auth/google_oauth2"
                %li= link_to "Sign in with Facebook", "auth/facebook"